/* .btnHighlighter{
    background-color: #4CAF50;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

.highlight {
    background-color: yellow;
}
