body {
    width: 300px;
    height: 450px;
    background-color: whitesmoke;
}

#title {
    text-align: center;
    font-size: small;
    background-color: antiquewhite;
}


#summaryTitle{
    text-decoration: underline;
}

#urlDiv{
    border-style: solid;
    border-color: black;
    background-color:rgb(149, 223, 236)
}
#currentUrl{
    font-size:x-small;
    text-align: center;
    font-weight: bold;
}